<h1>Job Board</h1>

<form class="form-group">
  <%= form_for @job do |f| %>
    <h2>Add New Position</h2>

    <h3><%= f.label :title %></h3>
    <%= f.text_field :title %></br>

    <h3><%= f.label :location %></h3>
    <%= f.text_field :location %></br>

    <h3>  <%= f.label :start_date %></h3>
    <%= f.date_field :start_date %></br>

    <!-- <h3> <%= f.label :created_at, "Posted" %></h3>
    <%= f.text_field :created_at %></br> -->

    <h3>  <%= f.label :salary %></h3>
    <%= f.text_field :salary %></br>

    <h3> <%= f.label :description %></h3>
    <%= f.text_area  :description %>

    <h3><%= f.submit  %></h3>
  <% end %>

</form>
