<div class="container">
  <header>
    <h1 id="title">Ada Job Board</h1>
    <!-- Button trigger modal -->
    <button type="button" id="addNewJob" class="btn btn-default" data-toggle="modal" data-target="#myModal">
      Add New Job
    </button>

  </header>
  <!-- New Job Modal  -->
  <div id="mainPageBody">
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <h3 class="modal-title" id="myModalLabel">Add New Job</h3>
         </div>
         <div class="modal-body">
           <%= render "job_form" %>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

          </div>
        </div>
      </div>
    </div>
    <!-- Display All Jobs  -->
    <% sort_jobs(@jobs).each do |job| %>
      <h3><%= job.title %></h3>
      <h4>Location: <%= job.location %></h4>
      <h4>Start Date: <%= convert_to_pst(job.start_date) %> </h4>
      <h4>Company: <%= job.company %> </h4>
      <h4>Pay: <%= job.salary %> </h4>
      <h4>About: <%= job.description %> </h4>
      <h4>Posted <%= time_elasped(job.created_at) %> </h4></br>
    <% end %>
  </div>

</div>
