  <header >
    <h1 id="title">Ada Job Board</h1>
    <!-- Button trigger modal -->
      <button type="button" id="addNewJobButton" class="btn btn-default"  data-toggle="modal" data-target="#myModal">
        Add New Job
      </button>
      <!-- Filter Job List -->
      <div id="searchByCategory" class="col-md-12">
        <h5> Search by Category </h5>
          <%= form_tag "/results",remote: true do %>
            <% Category.all.each do |cat| %>
              <%= check_box_tag "filterCategories[]", cat.id  %> <p class="categories"> <%= cat.name %> </p>
            <% end %>
          </br></br><button id="filterForm" class="btn btn-default"> Filter</button>
          <% end %>
      </div>
  </header>
  <!-- New Job Modal  -->
  <div id="mainPageBody">
    <!-- Display All Jobs  -->
    <div class ="col-md-12" id="jobs" class="listJobs">
      <% sort_jobs(@jobs).each do |job| %>
        <h3><%= job.title %></h3>
        <h4>Location: <%= job.location %></h4>
        <h4>Start Date: <%= convert_to_pst(job.start_date) %> </h4>
        <h4>Company: <%= job.company %> </h4>
        <h4>Pay: <%= job.salary %> </h4>
        <h4>About: <%= job.description %> </h4>
        <h4>Posted <%= time_elasped(job.created_at) %> </h4></br>
      <% end %>
    </div>
    <!--Empty Div to make Grid Look nice  -->
    <div class="col-md-12">
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <h3 class="modal-title" id="myModalLabel">Add New Job</h3>
         </div>
         <div class="modal-body">
           <%= render "job_form" %>
           <button type="button" id="closeButton" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
         <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
    <!-- Filter Results  -->
    <div id="results">

    </div>
  </div>
