<header >
  <h1 id="title">Ada Job Board</h1>
</header>
<% @results.each do |job| %>
    <h3><%= job.title %></h3>
    <h4>Location: <%= job.location %></h4>
    <h4>Start Date: <%= convert_to_pst(job.start_date) %> </h4>
    <h4>Company: <%= job.company %> </h4>
    <h4>Pay: <%= job.salary %> </h4>
    <h4>About: <%= job.description %> </h4>
    <h4>Posted <%= time_elasped(job.created_at) %> </h4></br>
<%end %>
